.Rproj.user
.Rhistory
.RData
.Ruserdata


.Rproj.user/
.Rhistory
.RData
.RDataTmp
*.RDataTmp


*.png
*.csv

# RStudio project files
*.Rproj
.Rproj.user/

# personal / local files
markdown z moimi zmianami.rmd
